.intro-wrapper {
@mixin atMedium {
	height: auto;
	background: transparent;
	text-transform: uppercase;
	color: white;
	font-family: 'playfair display', serif;
	font-size: 2.25rem;
	letter-spacing: 1em;
	text-align: center;
}
}

.app-wrapper {
		width: 90%;
		color: white;
		display: none;
	text-align: center;
	background: rgba(255,255,255,0.1);
	padding: 1em 2em;		
@mixin atMedium {
	width: 30%;	
	
	

}
}