

$coral: coral;
$teal: #70b29c;

/* Reset */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address{
    margin: 0;
    padding: 0;
}

body {
	
	background: url('/images/min/1-isiwubmiw-kimon-maritz.jpg');
	background-size: cover;
	height: 100vh;
	z-index: 5;
}
	.bg-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #136a8a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
	opacity: 0.7;
    z-index: 10;
    height: 100vh;
    width: 100vw;
	}


.content-wrapper {
	width: auto;
	height: 50%;
	background: transparent;
	text-transform: uppercase;
	color: white;
	font-family: 'playfair display', serif;
	font-size: 2.25rem;
	letter-spacing: 1em;
	text-align: center;
}

.logo {
	opacity: 1;
	position: absolute;
	top: 6em;
	left: 10em;
	width: 32px;
}

.visible {
	display: block !important;
	transition: all 3s;
}

h1{
	font-size: 2.25rem;
	font-family: 'raleway', helvetica;
}

.btn-start {
	margin-top: 50px;
	background: transparent;
	color: white;
	padding: 1em 1.25em;
	border-radius: 22px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	border: solid 4px rgba(255,255,255,0.8);
}

#time {
	font-family: 'raleway', helvetica;
}

.seconds {
	font-family: 'raleway', helvetica;
}


footer {
	font-size: 0.875rem;
	text-transform: none;
	letter-spacing: normal;
	margin-top: 200px;
}


/* Spotify Player */

.spotify {
	left: 10px;
	top: 10px;
	display: none;

}

.track-list, #extra {
	height: 45px !important;
}

